<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title data-react-helmet="true">NoiseModelling GeoClimate computation platform</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/png"/>
    <link rel="stylesheet" href="/css/pure-min.css"/>
    <link rel="stylesheet" href="/css/platform.css"/>
</head>
<body>
<div id="layout">
    <div th:replace="menu :: menu"></div>
    <div id="main" class="content">
        <div class="header"><h1>Add a new job</h1>
            <div class="l-box" id="message_div" th:if="${not #strings.isEmpty(message)}">
                <aside><p th:text="${message}"></p></aside>
            </div>
            <form class="pure-form pure-form-aligned" id="addjobform" action="/manage/do_add_job" method="POST">
                <fieldset>
                    <legend>Add a new processing job to the queue</legend>

                    <div class="pure-control-group"><label for="AREA_EXTRACT">Computation area (lat long bounding box or nominatim ex: redon)</label>
                        <input type="text" placeholder="Pont-de-Veyle" id="AREA_EXTRACT" name="AREA_EXTRACT" value="48.49749,5.25349,48.58082,5.33682"/>
                    </div>
                    <div class="pure-control-group"><label for="DISTANCE">Extraction radius of the computation area (meters)</label>
                        <input type="text" placeholder="500" id="DISTANCE" name="DISTANCE" value="500"/>
                    </div>
                    <div class="pure-control-group"><label for="CLUSTER_COMPUTE">Compute on cluster</label>
                        <input type="checkbox" id="CLUSTER_COMPUTE" name="CLUSTER_COMPUTE"/>
                    </div>
                    <div class="pure-controls">
                        <button id="addButton" type="submit" class="pure-button pure-button-primary">Add
                        </button>
                    </div>
                    <fieldset></fieldset>
                </fieldset>
            </form>
        </div>
    </div>
</div>

</body>
</html>